@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  padding: 0;
  width: 80%;
}